@media only screen and (max-width: $verySmallScreen) {
    .welcome {
        display: block;

        #enter_room {
            .welcome-page-button {
                font-size: 1rem;
                left: 0;
                text-align: center;
                margin: 0 10px;
                border-radius: 8px;
            }
        }

        .header {
            background-color: #002637;

            .insecure-room-name-warning {
                width: 100%;
            }

            #enter_room {
                width: 100%;

                .join-meeting-container {
                    padding: 0;
                    flex-direction: column;
                    background: transparent;
                }

                .enter-room-input-container {
                    padding-right: 0;
                    margin: 0 10px;
                    border-radius: 8px;
                    margin-bottom: 10px;
                }
            }
        }

        .header-text-title {
            text-align: center;
        }
        .welcome-head{
            background-image: $welcomeHeadeTitleBackground;
            background-size: contain;
            background-position: $welcomePageHeaderBackgroundPosition;
            background-repeat: no-repeat;
            height: 270px;
            width: 100%;
            margin: 16px;
        }

        .welcome-cards-container {
            padding: 0;
            margin-bottom: 170px;
        }
        @media screen and (max-width: 768px) {
            .welcome-cards-container,.watermark.leftwatermark {
                display: none;
            }
        }

        &.without-content {
            .header {
                height: 96%;
            }
        }

        #moderated-meetings {
            display: none;
        }

        .welcome-footer-row-block {
            display: flex;
            flex-direction: column;
            gap:12px;
            align-items: center;
        }
    }
}
